html, body
  padding 0
  margin 0
  background-color transparent
  width 100%
  height 100%

#app
  width 100%
  height 100%
  box-sizing border-box

.checkin, .out-area
  .el-form-item__label
    color #fff

  .formFooter_item
    text-align center !important
    margin-top 30px

    .el-button
      background-image url('/btn.png')
      background-size cover
      background-position 0% 0%
      background-size 100% 100%
      background-repeat initial
      background-attachment initial
      background-origin initial
      background-clip initial
      background-color none !important
      border none !important
      width 200px
      height 80px
      font-size 23px

    .el-button.el-button--default
      display none

    .el-button--primary, .el-button--default
      background-color transparent !important
      border none !important
      color #00e4ff

  .genFromComponent .fieldGroupWrap_des
    color #f2efef

  .el-radio
    color #f2efef
